In [1]:
import hmmlearn
from hmmlearn import hmm
print("hmmlearn installed successfully!")

hmmlearn installed successfully!

In [4]:
# !pip install hmmlearn

In [2]:
from hmmlearn import hmm
print("hmmlearn installed successfully!")

hmmlearn installed successfully!

In [3]:
# pip install --upgrade  hmmlearn

In [11]:
# pip install requests

In [5]:
pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu

^C
Note: you may need to restart the kernel to use updated packages.

In [5]:
import torch

In [4]:
import requests

In [1]:
import pandas as pd

In [3]:
df2= pd.read_csv("../outputs/trade_ledger.csv")
df2.head()

,Unnamed: 0,entry_time,exit_time,entry_price,exit_price,pnl
0,0,2025-09-20 21:00:00,2025-09-20 22:00:00,115786.31,115776.06,-10.25
1,1,2025-09-21 07:00:00,2025-09-21 08:00:00,115815.97,115629.60,-186.37
2,2,2025-09-21 12:00:00,2025-09-21 13:00:00,115683.59,115661.65,-21.94
3,3,2025-09-21 17:00:00,2025-09-21 18:00:00,115628.18,115530.90,-97.28
4,4,2025-09-23 06:00:00,2025-09-23 14:00:00,112974.96,112652.91,-322.05

In [6]:
# pip install xgboost shap

In [10]:
import os

# Base directory where this script lives (src/)
BASE_DIR = os.path.dirname("__file__")

# Data folder path (src/data)
DATA_DIR = os.path.join(BASE_DIR, "data")
os.makedirs(DATA_DIR, exist_ok=True)

In [4]:
import pandas as pd

In [ ]:
df= pd.read_csv("data/feature_engineered_data.csv")
df1= pd.read_csv("data/clean_binance_data.csv")
print("feature_engineered_data:",df.head())

feature_engineered_data:              timestamp       open       high        low      close     valume  \
0  2025-09-20 11:00:00  115747.54  115909.54  115747.54  115894.06  242.77605
1  2025-09-20 12:00:00  115894.05  115950.89  115804.47  115874.49  155.45643
2  2025-09-20 13:00:00  115874.50  115951.96  115859.48  115915.80  123.96705
3  2025-09-20 14:00:00  115915.79  116036.00  115883.30  115970.36  209.62425
4  2025-09-20 15:00:00  115970.36  116121.81  115946.91  115986.69  347.86651

   log_return  volatility         ema_20
0    0.001265    0.001747  115686.317740
1   -0.000169    0.001697  115706.467465
2    0.000356    0.001304  115728.620695
3    0.000471    0.001267  115753.935388
4    0.000141    0.001098  115778.080298

In [15]:
df.head()

,timestamp,open,high,low,close,valume,log_return,volatility,ema_20
0,2025-09-20 11:00:00,115747.54,115909.54,115747.54,115894.06,242.77605,0.001265,0.001747,115686.317740
1,2025-09-20 12:00:00,115894.05,115950.89,115804.47,115874.49,155.45643,-0.000169,0.001697,115706.467465
2,2025-09-20 13:00:00,115874.50,115951.96,115859.48,115915.80,123.96705,0.000356,0.001304,115728.620695
3,2025-09-20 14:00:00,115915.79,116036.00,115883.30,115970.36,209.62425,0.000471,0.001267,115753.935388
4,2025-09-20 15:00:00,115970.36,116121.81,115946.91,115986.69,347.86651,0.000141,0.001098,115778.080298

In [17]:
df1.head()

NameError: name 'df1' is not defined

In [1]:
from xgboost import XGBClassifier

In [7]:
import pandas as pd
import numpy as np
import hmmlearn
from hmmlearn import hmm
from xgboost import XGBClassifier
import shap
import torch
import requests
import os

In [8]:
from sklearn.preprocessing import StandardScaler
from hmmlearn.hmm import GaussianHMM